.contianer {
    header {
        .header-inner {
            .header-links {
                a:hover {
                    color: #fff;
                }
            }
        }
    }

    main {
        .home-page {
            .home-page-left {
                a {
                    button:hover {
                        background-color: rgba(88, 70, 95, 0.397);
                    }
                }
            }
        }
    }
}