@media (max-width:1380px) {
    .container {
        padding: 10px;

        header {
            padding: 0;


            .header-inner {
                max-width: 1024px;
            }
        }
    }

}

@media (max-width:1024px) {
    .container {
        padding: 10px;

        header {
            padding: 0;

            .media-header {
                display: none;
            }

            .header-inner {
                .header-links {
                    display: none;
                }

                .bx-menu-alt-right {
                    font-size: 35px;
                    display: block;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

}

@media (max-width:537px) {
    .container {
        main {
            margin-top: 50px;

            .home-page {
                flex-direction: column;
                gap: 20px;

                .home-page-left {
                    width: 100%;

                    h1 {
                        max-width: 367px;
                        font-size: 32px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .home-page-right {
                    width: 90%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}