@media (max-width:1380px) {
    .container {
        padding: 10px;

        header {
            padding: 0;


            .header-inner {
                max-width: 1024px;
            }
        }
    }

}

@media (max-width:1024px) {
    .container {
        padding: 10px;

        header {
            padding: 0;

            .media-header {
                display: none;
            }

            .header-inner {
                .header-links {
                    display: none;
                }

                .bx-menu-alt-right {
                    font-size: 35px;
                    display: block;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        main {
            .projects {
                .project-cards {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    row-gap: 40px;
                }

            }

            section {
                .decent {
                    .project-cards {
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }

            .skills {
                .skill-list {
                    justify-content: space-around;
                    gap: 0;
                }
            }
        }
    }

}

@media (max-width:675px) {
    .container {
        main {
            .projects {
                .project-header {
                    h1 {
                        &::before {
                            content: "";
                            width: 100px;
                        }
                    }
                }

                .project-cards {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }
            }

            section {
                .decent {
                    .project-cards {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                    }
                }
            }

            .about {
                .about-in {
                    .about-text {
                        width: 100%;
                    }
                }

                img {
                    display: none;
                }

                flex-direction: column;
            }

            section {
                .about-me {
                    img {
                        max-width: 340px;
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    text-align: left;
                    align-items: start;
                    flex-direction: column;
                    .about-me-text{
                        width: 100%;
                    }
                }
                .skills{
                    .skill-list{
                        flex-direction: column;
                        gap: 30px;
                    }
                }
            }

        }

        footer {
            margin-top: 100px;
            .footer-content {
                display: flex;
                flex-direction: column;

                div {
                    p {
                        b {
                            display: none;
                        }

                        text-align: left;
                        flex-direction: column;
                    }

                    align-items: start;
                    flex-direction: column;
                    text-align: start;
                    gap: 20px;

                    .media {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width:537px) {
    .container {
        main {
            margin-top: 50px;

            .projects {
                .project-cards {
                    .project-card {
                        width: 100%;
                    }
                }
            }

            .home-page {
                flex-direction: column;
                gap: 20px;

                .home-page-left {
                    width: 100%;

                    h1 {
                        max-width: 367px;
                        font-size: 32px;
                    }

                    p {
                        font-size: 14px;
                    }
                }



                img {
                    width: 100%;
                }

            }

         .projects{
            .project-header {
                h1 {
                    &::before {
                        content: "";
                        width:0px;
                    }
                }
            }
         }

            .skills {
                .skills-header {
                    h1 {
                        &::before {
                            content: "";
                            width: 100px;
                        }
                    }
                }

                .skill-list {
                    flex-direction: column;
                    gap: 30px;
                    margin: 40px 0;
                }
            }

            .contacts {
                .contacts-header {
                    h1 {
                        &::before {
                            width: 100px;
                        }
                    }
                }

                .contacts-content {
                    flex-direction: column;
                    gap: 20px;

                    .massage {
                        width: 90%;
                        margin: auto;
                    }
                }
            }
            section{
              .skills{
                .skills-header{
                    h1{
                        &::before{
                            content: "";
                            width: 100px;
                        }
                    }
                }
              }  
                .fun-facts{
                    .fun-facts-header{
                        
                            &::before{
                                content: "";
                                width: 100px;
                            }
                        
                    }
                    div{
                        grid-template-columns: 1fr ;
                    }
                }
            }
        }
    }
}

@media (max-width:375px) {
    .container {
        main {
            section {
                .decent {
                    .decent-header {
                        h1 {
                            &::before {
                                content: "";
                                width: 100%;
                            }
                        }
                    }

                    .project-cards {
                        .project-card {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}