* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --text-color: #ABB2BF;
    --text-color2: #C470DB;
    --background-color: #282C33;
}

.container {
    header {
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        position: sticky;
        background: var(--background-color);
        top: 0;
        padding: 30px 0 0;


        .media-header {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            margin-left: 20px;
            position: fixed;


            .media-header-line {
                width: 2px;
                height: 500px;
                background-color: var(--text-color);

            }

            i {
                font-size: 35px;
                cursor: pointer;
                color: #ABB2BF;
            }
        }

        .header-inner {
            max-width: 1050px;
            margin: auto;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: var(--background-color);

            .logo {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 16px;
                    height: 24px;


                }

                h1 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .header-links {
                display: flex;
                align-items: center;
                gap: 25px;

                a {
                    font-size: 20px;
                    color: var(--text-color);

                    span {
                        color: var(--text-color2);
                    }

                }
                .about-link{
                    font-weight: 600;
                    color: #fff;
                }

            }

            i {
                display: none;
            }
        }
    }

    main {
        max-width: 1050px;
        width: 100%;
    }

    footer {
        width: 100%;
        border-top: 1px solid var(--text-color);
        background: var(--background-color);

        .footer-content {
            max-width: 1024px;
            margin: auto;
            padding: 50px 0;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    display: flex;
                    color: var(--text-color);
                    align-items: center;
                    gap: 50px;

                    b {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 10px
                    }

                    // align-items: center;
                }

                h2 {
                    color: #fff;
                    font-weight: normal;
                }

                b {
                    color: #fff;
                    font-weight: normal;
                }

                .icons {
                    i {
                        font-size: 30px;
                    }
                }
            }

        }

        p {
            text-align: center;
            color: var(--text-color)
        }
    }
}

@import '_hover.scss';
@import '_responsive.scss'