@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    text-decoration: none;
}

:root {
    --text-color: #ABB2BF;
    --text-color2: #C470DB;
    --background-color: #282C33;
}

.container {
    background: var(--background-color);

    header {
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        position: sticky;
        background: var(--background-color);
        top: 0;
        padding: 30px 0 0;


        .media-header {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            margin-left: 20px;
            position: fixed;


            .media-header-line {
                width: 2px;
                height: 500px;
                background-color: var(--text-color);

            }

            i {
                font-size: 35px;
                cursor: pointer;
                color: #ABB2BF;
            }
        }

        .header-inner {
            max-width: 1050px;
            margin: auto;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: var(--background-color);

            .logo {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 16px;
                    height: 24px;


                }

                h1 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .header-links {
                display: flex;
                align-items: center;
                gap: 25px;

                a {
                    font-size: 20px;
                    color: var(--text-color);
                    position: relative;
                    transition: all  1s ease-in-out;


                    span {
                        color: var(--text-color2);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        background: var(--text-color2);
                        bottom: -5px;
                    transition: all  0.5s ease;



                    }


                }
                a:hover:before{
                    width: 100%;
                }

                .project-link {
                    font-weight: 500;
                    color: #fff;
                }

            }

            i {
                display: none;
            }
        }
    }

    main {
        max-width: 1050px;
        width: 100%;
        margin: auto;
        margin-top: 60px;

        section {
            display: flex;
            flex-direction: column;
            gap: 100px;

            .projects {
                h1 {
                    font-size: 32px;
                    color: #fff;
                    font-weight: 500;

                    span {
                        color: var(--text-color2);
                    }
                }

                p {
                    font-size: 16px;
                    color: var(--text-color);
                    margin-top: 20px;
                }

            }

            .decent {
                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    display: inline-block;
                    text-align: center;

                    span {
                        color: #c792ea;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 110%;
                        width: 150px;
                        margin-top: 23px;
                        height: 2px;
                        background-color: var(--text-color2)
                    }
                }
                .project-cards {
                    
                    margin-top: 50px;
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr ;
                    row-gap: 20px;
    
                    .project-card {
                        width: 330px;
                        height: 444px;
                        border: 1px solid var(--text-color);
                        display: flex;
                        flex-direction: column;
    
                        img {
                            width: 100%;
                            height: 185px;
                        }
    
                        .project-techs {
                            width: 100%;
                            height: 41px;
                            border: 1px solid var(--text-color);
                            display: flex;
                            padding: 8px;
                            gap: 10px;
    
                            p {
                                color: var(--text-color);
                                font-size: 16px
                            }
                        }
    
                        .project-content {
                            padding: 16px;
    
                            h2 {
                                color: #fff;
                                font-weight: 500;
                            }
    
                            p {
                                color: var(--text-color);
                                font-size: 14px;
                                margin: 20px 0 10px;
                            }
    
                            .project-links {
                                max-width: 240px;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                gap: 10px;
    
                                a {
                                    button {
                                        padding: 8px 16px;
                                        background: none;
                                        border: 1px solid var(--text-color2);
                                        font-size: 16px;
                                        color: #fff;
                                        cursor: pointer;
    
                                    }
                                }
                            }
                        }
                    }
    
                }
            }
        }
    }

    footer {
        margin-top: 100px;
        width: 100%;
        border-top: 1px solid var(--text-color);
        background: var(--background-color);

        .footer-content {
            max-width: 1024px;
            margin: auto;
            padding: 50px 0;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    display: flex;
                    color: var(--text-color);
                    align-items: center;
                    gap: 50px;

                    b {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 10px
                    }

                    // align-items: center;
                }

                h2 {
                    color: #fff;
                    font-weight: normal;
                }

                b {
                    color: #fff;
                    font-weight: normal;
                }

                .icons {
                    i {
                        font-size: 30px;
                    }
                }
            }

        }

        p {
            text-align: center;
            color: var(--text-color)
        }
    }
}

@import '_hover.scss';
@import '_responsive.scss'