@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Fira Code';

}

:root {
    --text-color: #ABB2BF;
    --text-color2: #C470DB;
    --background-color: #282C33;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #282C33;
    height: auto;

    header {
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
        position: sticky;
        background: var(--background-color);
        top: 0;
        padding: 30px 0 0;


        .media-header {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            margin-left: 20px;
            position: fixed;


            .media-header-line {
                width: 2px;
                height: 500px;
                background-color: var(--text-color);

            }

            i {
                font-size: 35px;
                cursor: pointer;
                color: #ABB2BF;
            }
        }

        .header-inner {
            max-width: 1050px;
            margin: auto;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: var(--background-color);

            .logo {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 16px;
                    height: 24px;


                }

                h1 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .header-links {
                display: flex;
                align-items: center;
                gap: 25px;

                a {
                    font-size: 20px;
                    color: var(--text-color);

                    span {
                        color: var(--text-color2);
                    }

                }

                .home-link {
                    font-weight: 500;
                    color: #fff;
                }

            }

            i {
                display: none;
            }
        }
    }

    main {
        max-width: 1050px;
        width: 100%;

        .home-page {
            display: flex;

            align-items: center;

            margin: 30px 0;

            .home-page-left {
                width: 50%;
                background: var(--background-color);

                display: flex;
                flex-direction: column;

                justify-content: center;

                h1 {
                    color: #fff;
                    font-size: 32px;
                    font-weight: 600;
                    max-width: 500px;


                    span {
                        color: var(--text-color2)
                    }
                }

                p {
                    font-size: 16px;
                    max-width: 500px;
                    color: var(--text-color);
                    margin: 30px 0 20px;
                }

                button {
                    width: 162px;
                    height: 42px;
                    background: none;
                    border: 1px solid var(--text-color2);
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;

                }
            }

            img {
                width: 50%;
            }

            // .home-page-right {
            //     width: 50%;
            //     display: flex;
            //     flex-direction: column;
            //     align-items: center;



            //     div {
            //         display: flex;
            //         align-items: center;
            //         gap: 10px;
            //         border: 1px solid var(--text-color);
            //         margin: auto;
            //         padding: 10px;

            //         button {
            //             width: 15px;
            //             height: 15px;
            //             border: 1px solid var(--text-color2);
            //             background-color: rgba(88, 70, 95, 0.397);

            //         }

            //         p {
            //             color: var(--text-color);
            //             font-weight: 600;
            //         }
            //     }
            // }
        }

        .projects {
            .project-header {
                display: flex;
                align-items: center;
                justify-content: space-between;


                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    display: inline-block;
                    text-align: center; // H1 ichidagi textni o'z markaziga keltirish

                    span {
                        color: #c792ea; // Matn rangini o'zgartirish
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 110%;
                        width: 150px;
                        margin-top: 23px;
                        height: 2px;
                        background-color: var(--text-color2)
                    }
                }

                a {
                    color: #fff;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: #fff;
                        bottom: 0;
                    }

                }

            }

            .project-cards {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;

                .project-card {
                    width: 330px;
                    height: 444px;
                    border: 1px solid var(--text-color);
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 100%;
                        height: 185px;
                    }

                    .project-techs {
                        width: 100%;
                        height: 41px;
                        border: 1px solid var(--text-color);
                        display: flex;
                        padding: 8px;
                        gap: 10px;

                        p {
                            color: var(--text-color);
                            font-size: 16px
                        }
                    }

                    .project-content {
                        padding: 16px;

                        h2 {
                            color: #fff;
                            font-weight: 500;
                        }

                        p {
                            color: var(--text-color);
                            font-size: 14px;
                            margin: 20px 0 10px;
                        }

                        .project-links {
                            max-width: 240px;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 10px;

                            a {
                                button {
                                    padding: 8px 16px;
                                    background: none;
                                    border: 1px solid var(--text-color2);
                                    font-size: 16px;
                                    color: #fff;
                                    cursor: pointer;

                                }
                            }
                        }
                    }
                }

            }
        }

        .skills {
            margin: 40px 0;

            .skills-header {
                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    display: inline-block;
                    text-align: center; // H1 ichidagi textni o'z markaziga keltirish

                    span {
                        color: #c792ea; // Matn rangini o'zgartirish
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 110%;
                        width: 150px;
                        margin-top: 23px;
                        height: 2px;
                        background-color: var(--text-color2)
                    }
                }
            }


            .skill-list {
                display: flex;
                gap: 300px;
                width: 100%;
                align-items: center;
                justify-content: center;

                .skill-block {
                    width: 200px;
                    height: auto;
                    border: 1px solid var(--text-color);

                    h2 {
                        font-size: 16px;
                        color: #fff;
                        width: 100%;
                        height: 41px;
                        border: 1px solid var(--text-color);
                        font-weight: normal;
                        padding: 8px;
                    }

                    .skill-block-list {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                        p {
                            color: var(--text-color);
                            margin: 10px;
                        }
                    }
                }
            }


        }

        .about {
            margin: 100px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .about-in {
                .about-header {
                    h1 {
                        font-size: 32px;
                        font-weight: 500;
                        color: #fff;
                        position: relative;
                        display: inline-block;
                        text-align: center; // H1 ichidagi textni o'z markaziga keltirish

                        span {
                            color: #c792ea; // Matn rangini o'zgartirish
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            right: 0;
                            left: 110%;
                            width: 150px;
                            margin-top: 23px;
                            height: 2px;
                            background-color: var(--text-color2)
                        }
                    }
                }

                .about-text {
                    width: 60%;
                    font-size: 16px;
                    color: var(--text-color);
                    margin: 50px 0;

                    button {
                        padding: 7px 10px;
                        border: 1px solid var(--text-color2);
                        background: none;
                        font-size: 16px;
                        color: #fff;
                        margin-top: 30px;
                    }
                }


            }

            img {
                border-bottom: 1px solid var(--text-color2);
                width: 40%;
            }

        }

        .contacts {
            .contacts-header {
                h1 {
                    font-size: 32px;
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    display: inline-block;
                    text-align: center; // H1 ichidagi textni o'z markaziga keltirish

                    span {
                        color: #c792ea; // Matn rangini o'zgartirish
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 110%;
                        width: 150px;
                        margin-top: 23px;
                        height: 2px;
                        background-color: var(--text-color2)
                    }
                }
            }

            .contacts-content {
                display: flex;
                justify-content: space-between;
                margin: 50px 0;

                p {
                    max-width: 600px;
                    color: var(--text-color)
                }

                .massage {
                    width: 330px;
                    height: 146px;
                    border: 1px solid var(--text-color);
                    padding: 15px;

                    h4 {
                        font-size: 16px;
                        color: #fff;
                        font-weight: normal;
                        margin-bottom: 10px;
                    }

                    p {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        font-size: 16px;
                        line-height: 40px;

                        i {
                            font-size: 20px
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        border-top: 1px solid var(--text-color);

        .footer-content {
            max-width: 1024px;
            margin: auto;
            padding: 50px 0;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    display: flex;
                    color: var(--text-color);
                    align-items: center;
                    gap: 50px;

                    b {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 10px
                    }

                    // align-items: center;
                }

                h2 {
                    color: #fff;
                    font-weight: normal;
                }

                b {
                    color: #fff;
                    font-weight: normal;
                }

                .icons {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    a {
                        color: var(--text-color);
                        i {
                            font-size: 30px;
                            cursor: pointer;
                            // color: var(--text-color)
                        }
                    }
                }
            }

        }

        p {
            text-align: center;
            color: var(--text-color)
        }
    }
}


@import '_hover.scss';
@import '_responsive.scss'