@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Fira Code";
}

:root {
  --text-color: #ABB2BF;
  --text-color2: #C470DB;
  --background-color: #282C33;
}

.contianer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282C33;
  height: auto;
}
.contianer header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  background: var(--background-color);
  top: 0;
  padding: 30px 0 0;
}
.contianer header .media-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-left: 20px;
  position: fixed;
}
.contianer header .media-header .media-header-line {
  width: 2px;
  height: 500px;
  background-color: var(--text-color);
}
.contianer header .media-header i {
  font-size: 35px;
  cursor: pointer;
  color: #ABB2BF;
}
.contianer header .header-inner {
  max-width: 1050px;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contianer header .header-inner .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contianer header .header-inner .logo img {
  width: 16px;
  height: 24px;
}
.contianer header .header-inner .logo h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.contianer header .header-inner .header-links {
  display: flex;
  align-items: center;
  gap: 25px;
}
.contianer header .header-inner .header-links a {
  font-size: 20px;
  color: var(--text-color);
}
.contianer header .header-inner .header-links a span {
  color: var(--text-color2);
}
.contianer header .header-inner i {
  display: none;
}
.contianer main {
  max-width: 1050px;
  width: 100%;
}
.contianer main .home-page {
  display: flex;
  justify-content: space-between;
  height: 500px;
  align-items: center;
  width: 100%;
}
.contianer main .home-page .home-page-left {
  width: 50%;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contianer main .home-page .home-page-left h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  max-width: 500px;
}
.contianer main .home-page .home-page-left h1 span {
  color: var(--text-color2);
}
.contianer main .home-page .home-page-left p {
  font-size: 16px;
  max-width: 500px;
  color: var(--text-color);
  margin: 30px 0 20px;
}
.contianer main .home-page .home-page-left button {
  width: 162px;
  height: 42px;
  background: none;
  border: 1px solid var(--text-color2);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.contianer main .home-page img {
  width: 50%;
}

.contianer header .header-inner .header-links a:hover {
  color: #fff;
}
.contianer main .home-page .home-page-left a button:hover {
  background-color: rgba(88, 70, 95, 0.397);
}

@media (max-width: 1380px) {
  .contianer {
    padding: 10px;
  }
  .contianer header {
    padding: 0;
  }
  .contianer header .header-inner {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .contianer {
    padding: 10px;
  }
  .contianer header {
    padding: 0;
  }
  .contianer header .media-header {
    display: none;
  }
  .contianer header .header-inner .header-links {
    display: none;
  }
  .contianer header .header-inner .bx-menu-alt-right {
    font-size: 35px;
    display: block;
    color: #fff;
    cursor: pointer;
  }
}
@media (max-width: 537px) {
  .contianer main {
    margin-top: 50px;
  }
  .contianer main .home-page {
    flex-direction: column;
    gap: 20px;
  }
  .contianer main .home-page .home-page-left {
    width: 100%;
  }
  .contianer main .home-page .home-page-left h1 {
    max-width: 367px;
    font-size: 32px;
  }
  .contianer main .home-page .home-page-left p {
    font-size: 14px;
  }
  .contianer main .home-page img {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */